.Sidebar {
  position: fixed;
  right: calc(var(--minimum-content-padding) / 2);
  bottom: 16px;
  z-index: 6;
  width: 48px;
  aspect-ratio: 1;
  border-radius: 50%;
}

.Sidebar > button {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: none;
  background: rgba(38, 197, 237, 0.56);
  transition: all 0.3s ease;
  display: grid;
  place-items: center;
  font-size: 2rem;
}
.Sidebar > button:hover {
  background: rgba(38, 197, 237, 1);
}
.Sidebar > button:focus-visible {
  outline: 2px auto #09afda;
}
