.ChartCard {
  --inline-padding: 1.25em;

  padding-block: 1em;
  background: #ffffff;
  border-radius: 6px;
}

.ChartCard:not(:last-child) {
  margin-bottom: 2em;
}

.ChartCard h2 {
  font-weight: 600;
}

.ChartCard h3 {
  font-weight: 500;
}

.ChartHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 2em;
  padding-inline: var(--inline-padding);
}

.ChartSeriesButtons {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  margin-bottom: 1em;
  padding-block: 0.2em;
  padding-inline: var(--inline-padding);
}

.ChartFigure > figcaption {
  padding-inline: var(--inline-padding);
}
