.Card {
  --inline-padding: 1.25em;
  --wrapper-border-radius: 6px;

  background: #ffffff;
  border-radius: var(--wrapper-border-radius);
}

.Card > * {
  padding-inline: var(--inline-padding);
  padding-block: 0.5em;
}

.Card:not(:last-child) {
  margin-bottom: 2em;
}

.Title {
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 600;
  display: block;
}

.Subtitle {
  font-size: 1.125rem;
  line-height: 1.25;
  font-weight: 500;
  display: block;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 0.5em;
  padding-inline: var(--inline-padding);
}
