.Card {
  background: var(--card);
  color: var(--card-foreground);
  border-radius: var(--radius);
}

.PaddingNone {
  --card-inline-padding: 0;
  --card-block-padding: 0;
}

.PaddingSmall {
  --card-inline-padding: 0.75rem;
  --card-block-padding: 0.5rem;
}

.PaddingMedium {
  --card-inline-padding: 1rem;
  --card-block-padding: 1rem;
}

.PaddingLarge {
  --card-inline-padding: 1.25rem;
  --card-block-padding: 1.25rem;
}

.Card:not(:last-child) {
  margin-bottom: 2em;
}

.Title {
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 600;
  display: block;
}

.Subtitle {
  font-size: 1.125rem;
  line-height: 1.25;
  font-weight: 500;
  display: block;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: var(--card-block-padding);
  padding-inline: var(--card-inline-padding);
}

.Content {
  padding-block: var(--card-block-padding);
  padding-inline: var(--card-inline-padding);
}
