.InsuredByDefinitionAndByAgeGroup {
  container-name: something;
  container-type: inline-size;
}

.Grid {
  display: grid;
  grid-template-areas:
    'header header'
    'separator separator'
    'filters filters'
    'scorecards scorecards'
    'map chart';
}

.Header {
  grid-area: header;
}

.FiltersContainer {
  grid-area: filters;
}

.ScorecardsContainer {
  grid-area: scorecards;
  display: flex;
  gap: 0.5em;
  margin-left: auto;
}

.MapContainer {
  grid-area: map;
}

.ChartContainer {
  grid-area: chart;
}

@container something (width >= 768px) {
  .Grid {
    grid-template-areas:
      'header header'
      'separator separator'
      'filters scorecards'
      'map chart';
  }
}
