.analytics-layout > *,
.full-width > * {
  grid-column: content;
}
.analytics-layout,
.full-width {
  --minimum-content-padding: 2rem;

  /** TRACK WIDTHS **/
  --full-max-width: 1fr;
  --popout-max-width: 1400px;
  --content-max-width: 1060px;
  --narrow-max-width: 840px;

  /** TRACK SIZES **/
  --full: minmax(var(--minimum-content-padding), 1fr);
  --popout: minmax(0, calc((var(--popout-max-width) - var(--content-max-width)) * 0.5));
  --content: minmax(0, calc((var(--content-max-width) - var(--narrow-max-width)) * 0.5));
  --narrow: min(var(--narrow-max-width), 100% - var(--minimum-content-padding) * 2);

  display: grid;
  grid-template-columns:
    [full-start]
    var(--full)
    [popout-start]
    var(--popout)
    [content-start]
    var(--content)
    [narrow-start]
    var(--narrow)
    [narrow-end]
    var(--content)
    [content-end]
    var(--popout)
    [popout-end]
    var(--full)
    [full-end];
}

/** CLASSES **/
.full {
  grid-column: full;
}
.full-start {
  grid-column-start: full-start;
}
.full-end {
  grid-column-end: full-end;
}

.popout {
  grid-column: popout;
}
.popout-start {
  grid-column-start: popout-start;
}
.popout-end {
  grid-column-end: popout-end;
}

.content {
  grid-column: content;
}
.content-start {
  grid-column-start: content-start;
}
.content-end {
  grid-column-end: content-end;
}

.narrow {
  grid-column: narrow;
}
.narrow-start {
  grid-column-start: narrow-start;
}
.narrow-end {
  grid-column-end: narrow-end;
}

.full-width {
  grid-column: full;
}
.full-content,
.full-content-nopad {
  grid-column: full;
}
.full-content {
  padding-inline: var(--minimum-content-padding);
}

/** Additional layout classes for specific sections **/

.analytics-main {
  min-height: calc(100dvh - 56px);
}

.analytics-footer {
  display: grid;
  padding-block: 2rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  margin-top: 3rem;
}

.analytics-footer-content {
  border-top: 1px solid #cdcdcd;
  padding-block: 2rem;
}

.analytics-footer-content > h2 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.75rem;
  line-height: 1rem;
  opacity: 0.65;
}

.analytics-footer-content > .logo {
  opacity: 0.8;
}

.analytics-footer-content > nav {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.1em;
}

.analytics-layout a {
  color: inherit;
  text-decoration: none;
  display: inline flex;
  gap: 0.5em;
  align-items: center;
  transition-property: color, opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
}

.analytics-layout a:visited {
  color: inherit;
}

.analytics-layout a:focus-within,
.analytics-layout a:hover {
  opacity: 0.5;
}

.sledilnik-info > .sledilnik-info-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.5em;
  border-top: 1px dashed #cdcdcd;
}

.sledilnik-info > div {
  padding-block: 0.5em;
}

@media screen and (width >= 600px) {
  .analytics-main {
    min-height: calc(100dvh - 64px);
  }
}
@media screen and (width >= 768px) {
  .analytics-footer {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media screen and (width >= 1024px) {
  .analytics-footer {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .analytics-footer-content {
    padding-left: 2rem;
  }
  .analytics-footer-content:not(:last-child) {
    border-right: 1px solid #cdcdcd;
  }
}
