button {
  cursor: pointer;
}

.analytics-layout > *,
.full-width > * {
  grid-column: content;
}
.analytics-layout,
.full-width {
  --minimum-content-padding: 2rem;

  /** TRACK WIDTHS **/
  --full-max-width: 1fr;
  --popout-max-width: 1400px;
  --content-max-width: 1060px;
  --narrow-max-width: 840px;

  /** TRACK SIZES **/
  --full: minmax(var(--minimum-content-padding), 1fr);
  --popout: minmax(0, calc((var(--popout-max-width) - var(--content-max-width)) * 0.5));
  --content: minmax(0, calc((var(--content-max-width) - var(--narrow-max-width)) * 0.5));
  --narrow: min(var(--narrow-max-width), 100% - var(--minimum-content-padding) * 2);

  display: grid;
  grid-template-columns:
    [full-start]
    var(--full)
    [popout-start]
    var(--popout)
    [content-start]
    var(--content)
    [narrow-start]
    var(--narrow)
    [narrow-end]
    var(--content)
    [content-end]
    var(--popout)
    [popout-end]
    var(--full)
    [full-end];
}

/** CLASSES **/
.full {
  grid-column: full;
}
.full-start {
  grid-column-start: full-start;
}
.full-end {
  grid-column-end: full-end;
}

.popout {
  grid-column: popout;
}
.popout-start {
  grid-column-start: popout-start;
}
.popout-end {
  grid-column-end: popout-end;
}

.content {
  grid-column: content;
}
.content-start {
  grid-column-start: content-start;
}
.content-end {
  grid-column-end: content-end;
}

.narrow {
  grid-column: narrow;
}
.narrow-start {
  grid-column-start: narrow-start;
}
.narrow-end {
  grid-column-end: narrow-end;
}

.full-width {
  grid-column: full;
}
.full-content,
.full-content-nopad {
  grid-column: full;
}
.full-content {
  padding-inline: var(--minimum-content-padding);
}

/** Additional layout classes for specific sections **/

.analytics-main {
  min-height: calc(100dvh - 56px);
}

@media screen and (width >= 600px) {
  .analytics-main {
    min-height: calc(100dvh - 64px);
  }
}

.icon-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.2em;
  font-size: 1rem;
  background: transparent;
  border-radius: 50%;
  border: 1px solid ButtonText;
  transform: all 0.3s ease;
}

.icon-button:hover {
  background: #f4f8f8;
}

.icon-button:focus-visible {
  outline: 2px solid #333;
}

.render-on-viewport-entry {
  min-height: 300px;
}

.render-on-viewport-entry {
  margin-bottom: 2em;
}
