.Analytics {
  --radius: 0.5rem;

  --background: oklch(0.98 0 0);
  --foreground: oklch(0 0 0 / 97); /* vscode bug: no contrast; value: 0 0 0 / 87 */
  --card: oklch(1 0 0);
  --card-foreground: oklch(0 0 0 / 97); /* vscode bug: no contrast; value: 0 0 0 / 87 */

  --border: oklch(0.93 0 0);
  --muted-foreground: oklch(0.41 0 0);

  display: grid;
  grid-template-columns: 1;

  background: #ffffff;
  align-items: start;
}

@media screen and (min-width: 900px) {
  .Analytics {
    grid-template-columns: 250px 1fr;
  }
}

.AnalyticsLayout > *,
.FullWidth > * {
  grid-column: content;
}
.AnalyticsLayout,
.FullWidth {
  --minimum-content-padding: 0.8rem;

  /** TRACK WIDTHS **/
  --full-max-width: 1fr;
  --popout-max-width: 1400px;
  --content-max-width: 1120px;
  --narrow-max-width: 1060px;

  /** TRACK SIZES **/
  --full: minmax(var(--minimum-content-padding), 1fr);
  --popout: minmax(0, calc((var(--popout-max-width) - var(--content-max-width)) * 0.5));
  --content: minmax(0, calc((var(--content-max-width) - var(--narrow-max-width)) * 0.5));
  --narrow: min(var(--narrow-max-width), 100% - var(--minimum-content-padding) * 2);

  display: grid;
  grid-template-columns:
    [full-start]
    var(--full)
    [popout-start]
    var(--popout)
    [content-start]
    var(--content)
    [narrow-start]
    var(--narrow)
    [narrow-end]
    var(--content)
    [content-end]
    var(--popout)
    [popout-end]
    var(--full)
    [full-end];

  @media screen and (width > 599.99px) {
    --minimum-content-padding: 1.5rem;
  }
}

/** CLASSES **/
.Full {
  grid-column: full;
}
.FullStart {
  grid-column-start: full-start;
}
.FullEnd {
  grid-column-end: full-end;
}

.Popout {
  grid-column: popout;
}
.PopoutStart {
  grid-column-start: popout-start;
}
.PopoutEnd {
  grid-column-end: popout-end;
}

.Content {
  grid-column: content;
}
.ContentStart {
  grid-column-start: content-start;
}
.ContentEnd {
  grid-column-end: content-end;
}

.Narrow {
  grid-column: narrow;
}
.NarrowStart {
  grid-column-start: narrow-start;
}
.NarrowEnd {
  grid-column-end: narrow-end;
}

.FullWidth {
  grid-column: full;
}
.FullContent,
.FullContentNopad {
  grid-column: full;
}
.FullContent {
  padding-inline: var(--minimum-content-padding);
}

/* Miscellaneous */

.MainTitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.SectionTitle {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.ChartSection:not(:last-child) {
  margin-bottom: 2rem;
}

.ChartSection > *:not(:last-child) {
  margin-bottom: 2rem;
}
