.DashboardCard {
  --row-gap: 0.5rem;
  --column-gap: 0.25em;
}

.DashboardCard .Body {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: var(--column-gap);
}

/* not sure if it will be needed */
.Body .Filters {
  color: inherit;
}

.Body .MapFigureWrapper {
  position: relative;
  min-height: 400px;
}

.MapFigureWrapper > .MapFigure {
  position: absolute;
  inset: 0;
}

.Body .Cumulative {
  color: inherit;
}

.Body .LineChartsWrapper {
  min-height: 400px;
  display: grid;
  grid-template-columns: 1fr;
}

.LineChartsWrapper > .LineChartFigureWrapper {
  position: relative;
  min-height: 200px;
}

.LineChartsWrapper > .LineChartFigureWrapper > .ChartFigure {
  position: absolute;
  inset: 0;
}

@media (min-width: 768px) {
  .DashboardCard .Body {
    grid-template-columns: [first-start] 0.5fr [first-end second-start] 0.5fr [second-end];
    row-gap: var(--row-gap);
  }

  .DashboardCard .Body > .FirstColumn {
    grid-column: first;
  }

  .DashboardCard .Body > .SecondColumn {
    grid-column: second;
  }

  .Body .MapFigureWrapper {
    grid-row: 2 / 3;
  }

  .Body .LineChartsWrapper {
    grid-row: 2 / 3;
  }
}
