name: Build and deploy (pull request)

on:
  pull_request:
    types: [synchronize, reopened, labeled]

env:
  RELEASE_NAME: website-pr-${{ github.event.pull_request.number }}
  CHART_VALUES_FILE: .helm/values.pr.yml
  DEPLOY_NAMESPACE: doctors-pr
  DEPLOY_ENV: pr-${{ github.event.pull_request.number }}
  DEPLOY_URL: https://pr-${{ github.event.pull_request.number }}.zdravniki.sledilnik.org
  IMAGE_TAG: pr-${{ github.event.pull_request.number }}
  INGRESS_RULE: Host(`pr-${{ github.event.pull_request.number }}.zdravniki.sledilnik.org`)

jobs:
  build:
    if: contains(github.event.pull_request.labels.*.name, 'deploy-preview')
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to ghcr.io
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build and push docker container image
        uses: docker/build-push-action@v4
        with:
          push: true
          context: .
          file: ./Dockerfile
          tags: |
            ghcr.io/${{ github.repository_owner }}/website:${{ env.IMAGE_TAG}}
          build-args: |
            BUILD_MODE=staging

  deploy:
    runs-on: ubuntu-20.04
    if: contains(github.event.pull_request.labels.*.name, 'deploy-preview')
    needs: build
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Deploy
        uses: sledilnik/action-helm-deploy@v1.0.2
        with:
          chartName: sledilnik/website
          chartVersion: '1.0.0'
          kubeconfig: '${{ secrets.KUBECONFIG }}'
