name: Build and deploy (staging)

on:
  push:
    branches:
      - master

env:
  RELEASE_NAME: doctors-website
  CHART_VALUES_FILE: .helm/values.stage.yml
  DEPLOY_NAMESPACE: doctors-stage
  DEPLOY_ENV: staging
  DEPLOY_URL: https://stage-zdravniki.sledilnik.org

jobs:
  build:
    runs-on: ubuntu-20.04
    if: "!contains(github.event.head_commit.message, 'NOBUILD')"
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to ghcr.io
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build and push docker container image
        uses: docker/build-push-action@v2
        with:
          push: true
          context: .
          file: ./Dockerfile
          tags: |
            ghcr.io/${{ github.repository_owner }}/doctors-website:latest
          build-args: |
            BUILD_MODE=staging

  deploy:
    runs-on: ubuntu-20.04
    needs: build
    if: "!contains(github.event.head_commit.message, 'NODEPLOY')"
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Deploy
        uses: sledilnik/action-helm-deploy@v1.0.2
        with:
          chartName: sledilnik/website
          chartVersion: '1.0.0'
          kubeconfig: '${{ secrets.KUBECONFIG }}'
